<!DOCTYPE html>
<html>
  <head>
    <title>Couching</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  	<div>
  		<%= link_to "HOME", root_path %>
		<%= link_to "CREATE", new_post_path %>
  	</div>
  	
    <%= yield %>
  </body>
</html>
